<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnStr" connectionString="Data Source=PUMPKIN-PC\SQLEXPRESS;Initial Catalog=Thesis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ThesisConnectionString" connectionString="XpoProvider=MSSqlServer;data source=PUMPKIN-PC\SQLEXPRESS;integrated security=SSPI;initial catalog=Thesis" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>